.job-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 32px 40px 32px 35px;
  border-left: 5px solid transparent;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);

  &--featured {
    border-left-color: var(--green);
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media only screen and (max-width: 576px) {
    padding: 32px 24px 32px 20px;
  }
}

.job-item__info {
  flex-grow: 1;
  margin-right: 24px;
  flex-shrink: 0;

  @media only screen and (max-width: 768px) {
    flex-shrink: 1;
    margin-right: 0;
  }

  @media only screen and (max-width: 576px) {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--light-grey);
  }
}

.job-item__img {
  border-radius: 50%;
  width: 88px;
  height: 88px;
  margin-right: 24px;

  @media only screen and (max-width: 576px) {
    position: absolute;
    z-index: 10;
    margin: 0;
    width: 48px;
    height: 48px;
    top: 0;
    transform: translateY(-50%);
    left: 20px;
  }
}

.job-item__company-badges {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.job-item__company {
  color: var(--green);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-right: 16px;
}

.job-item__position {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 8px;
}

.job-item__position-link {
  color: var(--black);
  text-decoration: none;
  text-transform: capitalize;
}

.job-item__addl {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 36px;
  color: var(--grey);
}

.job-item__addl-item {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;

  &:not(:last-child) {
    &::after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--light-grey);
      position: absolute;
      top: calc(50% - 2px);
      right: calc(-20px);
    }
  }
}

.job-item__tags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  flex-grow: 1;

  @media only screen and (max-width: 992px) {
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
  }

  @media only screen and (max-width: 576px) {
    margin-top: 16px;
  }
}

.job-item__tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(92, 165, 165, 0.1);
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--green);
}
